.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.sectionHero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/aker_academy/images/lampStackBannerjpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: var(--token-J9Ozeg54D);
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uJPv9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-J9Ozeg54D);
}
.freeBox__mI9RA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--token-oT5QnAFXU);
  height: auto;
  max-width: 100%;
  margin-top: 56px;
  padding: var(--token-RGyKlVagZ);
}
.pageHeading:global(.__wab_instance) {
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .pageHeading:global(.__wab_instance) {
    margin-bottom: 32px;
  }
}
.h1 {
  color: var(--token-kDk2RkWQ2);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__lnOT {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  display: none;
}
.activitySubNavigation:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .activitySubNavigation:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.sectionBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-J9Ozeg54D);
}
.containerProjectDetails {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--token-oT5QnAFXU);
  height: auto;
  max-width: 100%;
  margin-bottom: 160px;
  padding: var(--token-3XtcfPSMA) var(--token-RGyKlVagZ) var(--token-RGyKlVagZ);
}
@media (max-width: 1024px) {
  .containerProjectDetails {
    padding: var(--token-hJVIBRGBA);
  }
}
.buttonRow {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 32px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 16px;
}
.svg__vazj4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___2N6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.buttonOutlined:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__lj0Ta {
  font-size: var(--token-kyIGxppC0);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__p0Fe1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__qIBld {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  margin-bottom: 32px;
  min-width: 0;
}
.h2__bnlck {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__ilCow {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
}
.text__sbnhX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__iEjEl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.ol__dsY5 {
  display: flex;
  flex-direction: column;
}
.text__cg89Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  min-width: 0;
}
.h2__xxXhC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__d6Srm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  min-width: 0;
}
.ol___54JwV {
  display: flex;
  flex-direction: column;
}
.h2__a7NcN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__xxCUp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  margin-bottom: 32px;
  min-width: 0;
}
.h2__qbLJp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__fEAv0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__vm3Qz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__p8Te {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
.text__wcVAb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  min-width: 0;
}
.ol__i8C4 {
  display: flex;
  flex-direction: column;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
