.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.sectionHero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/aker_academy/images/linux1Bannerjpg2.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: var(--token-J9Ozeg54D);
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mFyTr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-J9Ozeg54D);
}
.freeBox___46ZZx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--token-oT5QnAFXU);
  height: auto;
  max-width: 100%;
  margin-top: 56px;
  padding: var(--token-RGyKlVagZ);
}
.pageHeading:global(.__wab_instance) {
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .pageHeading:global(.__wab_instance) {
    margin-bottom: 32px;
  }
}
.text__fWvGo {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  display: block;
}
.activitySubNavigation:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  flex-shrink: 0;
}
.activitySubNavigationenrolled:global(.__wab_instance) {
  flex-shrink: 0;
}
.sectionBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-J9Ozeg54D);
}
.freeBox__ofrc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--token-oT5QnAFXU);
  height: auto;
  max-width: 100%;
  padding: var(--token-3XtcfPSMA) var(--token-RGyKlVagZ) var(--token-RGyKlVagZ);
}
@media (max-width: 1024px) {
  .freeBox__ofrc {
    padding: var(--token-hJVIBRGBA);
  }
}
.enrolBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 32px;
}
.text___4P33E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: var(--token-3XtcfPSMA);
  padding-top: 0px;
  min-width: 0;
}
.moduleBlock__wgQ9T:global(.__wab_instance) {
  position: relative;
  margin-bottom: 24px;
}
.link {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration-line: none;
  min-width: 0;
}
.unitLink__iLvYd:global(.__wab_instance) {
  position: relative;
}
.unitLink__bKVs:global(.__wab_instance) {
  position: relative;
}
.unitLink__xHgXm:global(.__wab_instance) {
  position: relative;
}
.moduleBlock__wLo4H:global(.__wab_instance) {
  position: relative;
  margin-bottom: var(--token-RGyKlVagZ);
}
.unitLink__suhof:global(.__wab_instance) {
  position: relative;
}
.unitLink__a4VdS:global(.__wab_instance) {
  position: relative;
}
.unitLink__jFiCl:global(.__wab_instance) {
  position: relative;
}
.unitLink__hmRfh:global(.__wab_instance) {
  position: relative;
}
.text___9ZxMk {
  padding-top: 0px;
}
.unitLink__rotXr:global(.__wab_instance) {
  position: relative;
}
.text__s35Qy {
  padding-top: 0px;
}
